html {
  background-color: #191e41;
  font-family: sans-serif;
}

.choices {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  cursor: pointer;
}

.choices img:active {
  transform: scale(0.85);
}

h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
